@use '../../Styled/Theme.scss' as c;

.beachfun{
    width: 100%;
    height: 35vh;
    opacity: 40%;
    z-index: -1;
    position: relative;
}

.h1events{
    display: flex;
    justify-content: center;
    font-family: c.$Vollkornreg;
    color: c.$DarkBlue;
    font-size: 36px;
    text-align: center;
    margin-top: -5.3em;
}

.eventtext {
    font-family: c.$Poppins;
    font-size: 12px;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: -1em;
    text-align: center;
}

.h2upcoming {
    display: flex;
    justify-content: center;
    font-family: c.$Vollkornreg;
    color: c.$DarkBlue;
    font-size: 36px;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: .2em;
}


.eventBtn{
    display: flex;
    justify-content: center;
    button{
        background-color: c.$Cyan; 
        font-family: c.$Poppins;
        text-transform: uppercase;
        border: none;
        color: c.$Black;
        padding: 1em;
        width: 25vh;
        text-align: center;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: .3vh;
        margin-top: 2em;
        margin-bottom: 1em;
        box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        border-radius: 5px;
    }

    button:hover {
        background-color: c.$LightBlue;
    }
    
}


@media screen and (min-width: 700px) {
    .beachfun{
        height: 45vh;
    }

    .h1events{
        font-size: 48px;
        font-weight: 400;
        margin-bottom: .2em;
        margin-top: -5.1em;
    }

    .eventtext {
        font-size: 16px;
        margin-bottom: .1em;
        margin-left: 8em;
        margin-right: 8em;
    }
    
    .articleOne{
        margin-left: 12em;
        margin-right: 12em;
    }
    .eventBtn{
        .button {
            margin-bottom: 8em;
            width: 25vh;
            height: 4.5em;
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 1000px) {
    .beachfun{
        height: 70vh;
    }

    .h1events{
        font-size: 72px;
        margin-bottom: .2em;
        margin-top: -5em;
    }

    .h2upcoming {
        font-size: 48px;
        margin-top: 2em;
        margin-bottom: .7em;
    }

    .eventtext {
        font-size: 20px;
        margin-bottom: .7em;
        margin-left: 8em;
        margin-right: 8em;
    }

    .eventBtn{
    button{
        width: 30vh;
        font-size: 16px;
        margin-top: 2em;
        margin-bottom: 3em;
        box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        border-radius: 5px;
    }
    }
}