@use '../Styled/Theme.scss' as c;

.container {
    padding-left: 7em;
    padding-right: 7em;
    padding-top: 4em;
}

.sectionContainer{
    margin-bottom: 4em;
    border: none;
    box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.3);
    height: 30vh;
    width: 90%;
    border-radius: 14px;
    padding: 1em;
    
    span{
        display: flex;
        justify-content: space-between;
    }

    .namedate {
        font-weight: bold;
        margin-bottom: 1em;
    }

    p{
        margin: 0.5em;
        font-size: 14px;
        font-family: c.$Poppins;
    }
    
}

@media screen and (min-width: 700px) {


.container {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
}

.sectionContainer{
    margin-bottom: 4em;
    box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.3);
    height: 30vh;
    width: 40%;
    border-radius: 14px;
    padding: 1em;

    span{
        display: flex;
        justify-content: space-between;
    }

    .namedate {
        font-weight: bold;
        margin-bottom: 1em;
    }

    p{
        margin: 0.5em;
    }
    
}
}

@media screen and (min-width: 1000px) {

.sectionContainer{
    margin-bottom: 4em;
    box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.3);
    height: 30vh;
    width: 27%;
    border-radius: 14px;
    padding: 1em;
}

}