@use '../Styled/Theme.scss' as c;

footer {
    height: 100px;
    width: 100%;
    background-color: c.$DarkBlue;
    padding: 0;
    margin: 0;
    z-index: 2;

    .footercontainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        }
        .goals {
           width: 300px;
           margin-top: 1em;
        
        }
        .icons{
            display: flex;
            justify-content: space-between;
            margin-top: 1em;
        }
        a {
            margin: 1em;
        }
    
}

