@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// COLORS
$DarkBlue: #006369;
$LightBlue: #008D94;
$Cyan: #7FD4D1;
$Yellow: #D9D303;
$Grey: #5F8463;
$White: #FFF;
$Black: #000;

// FONTS
$IBM-Font: 'IBM Plex Sans', 'sans-serif';
$Sriracha: 'Sriracha', 'sans-serif';
$Vollkornreg: 'Vollkorn', serif;
$Poppins: 'Poppins', sans-serif;

